{{ partial "head.html" .}}
<main>
  <div class="hello">
    <img id="logo" src="{{ .Site.BaseURL }}img/logo.svg" alt="Not a monad">
    <h1>
      <span>Hello, my name is </span><a href="">{{.Site.Author.name }}</a><span> and this is my personal blog. I hope you enjoy!</span>
    </h1>
  </div>
  <ul>
  {{range .Site.RegularPages}}
    <li class="item_wrapper">
      <div class="date">{{ dateFormat "2006.01.02" .Date}}</div>
      <div class="content">
        <p class="title"><a href="{{ .Permalink}}">{{ .Title}}</a></p>
        <p class="summary">{{ .Summary}}</p>
        <div class="tag_container">{{ partial "tags.html" .}}</div>
      </div>
    </li>
  {{ end }}
  </ul>
  {{ partial "footer.html" .}}
</main>